@charset "UTF-8";

.pageWrapper {
	background-color: #FFFFFF;
	height: 500px;
	width: 100%;
	z-index: -1;
}

body {
	margin: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	background-color: #E8E8E8;
	
}






.social {
	
	}
.phone {
	
	}
.directions {
	
	}

.social:hover, .phone:hover, .directions:hover {
	
}


.label {
	height: 150px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: white;
	z-index: 0;

}


.logo {
	width: 150px;
}

.homeImage {
	background-color: #F03034;
	height: 450px;
	width: 70%;
	float: right;
	margin-right: 20px;
	background-image: url(assets/storeFront.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}
.homeText {
	height: 450px;
	width: 210px;
	margin-left: 20px;
	float: left;
	padding: 20px;
	color: #333333;	
}	
	
.homeText h4 {
	margin-top: 5px;	
	}
		
	
.footer {
	background-color: #D4D4D4;
	height: 300px;
	width: 100%;
	display: block;
}
	

		
	
	
.logoDiv {
	float: left;
	height: 200px;
	width: 25%;
}
	
.logoDiv img {
	margin-left: 40px;
	margin-top: 20px;
	}
	
	
.navDiv {
	float: left;
	height: 100%;
	width: 60%;
}
	
.nav {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	margin-top: 120px;
	}	
	
.nav li {
	float: left;
	margin-left: 20px;
	}
	
.nav li a {
	color: dimgrey;
	text-decoration: none;
	padding: 20px;
	font-size:18px;
	}	
	
.nav li a:hover {
	color:black;	
		
	}	
	
#menuIconDiv {
	display: none;
	
}


#closeIconDiv {
	position: fixed;
	top:40px;
	right:40px;
	cursor: pointer;
	
}

.mobileNavDiv {
	position: fixed;
	height:100%;
	width: 100%;
	background-color: lightgray;
	z-index: 1;
	top: 0;
	visibility: hidden;
	
	
}

#mobileNav {
	list-style-type: none;
	text-decoration: none;
	color:grey;
	margin-top: 125px;
	
}

#mobileNav li {
	font-size: 24px;
	margin-top: 40px;
}

#mobileNav li a {
	color:gray;
	text-decoration: none;
}



.phoneAddressDiv {
	float: left;
	height: 100%;
	width: 15%;
}
.phoneDiv {
	height: 50px;
	width: 100%;
	
}

.addressDiv {
	height: 80px;
	width: 100%;
	}	
.phoneIconDiv, .addressIconDiv {
	float: left;
	height: 100%;
	width: 40px;
	text-align: center;
	
}

	
.phoneIconDiv img, .addressIconDiv img{
	margin-top: 10px;
	}
	
.phoneContentDiv {
	height: 20px;
	width: 100px;
	float: left;
	
	}
	
.addressContentDiv {
	height: 60px;
	width: 100px;
	float: left;
		
	}	
	
.phoneContentDiv {margin-top: 13px;}	
.addressContentDiv {margin-top: 5px;}	
	
.phoneContentDiv a, .addressContentDiv a {
	text-decoration: none;
	font-size: 12px;
	color: dimgrey;
	font-weight: bold;
	
	}
		
.addressContentDiv a {
	font-size: 10px;	
	}	



.leftFooterDiv {
	float: left;
	height: 200px;;
	width: 20%;
}
	
.centerFooterDiv {
	float: left;
	height: 300px;
	width: 60%;
	text-align: center;
	color: gray;
	font-size: 14px;
}	
	
	
.centerFooterDiv iframe {
	margin-top: 30px;	
	}	

.rightFooterDiv {
	float: left;
	height:300px;;
	width: 20%;
	text-align: right;
	
	
}	
	
 .social {
		margin: 15px;
	 
		float: right;
	}	
	
#bbb {
	margin-right: 10px;
	
		
	}	
	


#siteMapNav li {
	list-style-type: none;
	text-decoration: none;
	padding: 0;
	}
	
#siteMapNav li a {
 	text-decoration: none;
	color:gray;
	}
	
#siteMapNav li a:hover {
	color: black;
	padding: 0;
	}
	
#mobileFooter {
	visibility:collapse;
	display: none;
	}

#mobilePhoneAddress {
	width: 80%;
	text-align: left;
	color: gray;
	margin-left: auto;
	margin-right: auto;
}

#mobilePhoneAddress a {
	color:gray;
	
	
}


@media screen and (max-width:945px){
	.nav li {
	margin-left: 0px;
	
	}
	
	.phoneContentDiv a, .addressContentDiv a {
	font-size: 8px;
	
	
	}
	
	
	.phoneAddressDiv {
	
}
	
.phoneContentDiv {
	width: 80px;

	
	
	}
	
.addressContentDiv {
	
	width: 80px;
	
		
	}
	
}


@media screen and (max-width:835px){

.navDiv {
	visibility: collapse;
}
.phoneAddressDiv {
	visibility: collapse;

	
}
	
.footer {
	visibility: collapse;
	display: none;
	}	
	
#mobileFooter {
	visibility:visible;	
	display: block;
	width: 100%;
	background-color: #D4D4D4;
	text-align: center;
	color:gray;
	}	
	
	
#menuIconDiv {
	visibility:visible;
	display: block;
	position: fixed;
	top:40px;
	right:40px;
	cursor: pointer;
	z-index: 10;
}
	
	
.logo {
	width: 100px;
}
	
	
.label {
	height: 120px;
	

}
	
	
	
	
}

	
